*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
    overflow-x: hidden;
}

#header{
    width: 100w;
    height: 100vh;
    background: url('images/donuts_mobile.jpeg') no-repeat;
    background-size: cover;

    & #navigation{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background: #2A1D18;

        & .nav_image_logo{
            text-align: center;
            width: 100%;
            height: 150px;

            img{
                width: 250px;
                height: 150px;
            }
        }

        & .nav_items{
            width: 100%;
            height: 60px;
            background-color: #D58B45;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;
            text-transform: uppercase;

            & li{
                & a{
                    color: #FFF;
                    text-decoration: none;
                    font-weight: 700;
                    cursor: pointer;
                }
            }
        }
    }
}

#about{
    & .container{
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        background-color: #EFECE4;

        & .about_decoration{
            display: flex;
            justify-content: center;
            width: 75vw;

            img{
            
                width: 100%;
                max-width: 50vw;
            }
        }

        & .about_content{
            & h2{
                text-align: center;
                color: #333333;
                font-weight: 500;
                font-size:70px;
            }

            & p{
                margin: 0 auto;
                width: 70%;
                line-height: 32px;
                font-size: 1.1em;
                text-align: justify;
                color:  #666666;
            }
        }
    }
}

#menu{
    
    & .container{

        & h2{
            text-align: center;
            color: #333333;
            font-weight: 500;
            font-size:45px;
            margin-bottom: 0.6em;
            margin-top: 0.6em;
        }

        & #form{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.6em;

            & .field{

                & label{
                   display: block;
                   font-size: 1.2em;
                   font-weight: 500;

                }

                & input, textarea{
                   width: 60vw;
                   height: 40px;
                   border: 1px solid #666666;
                }
            }

            & button{
                width: 60vw;
                height: 40px;
                cursor: pointer;
                background-color: #FB579D;
                color: #fff;
                border: none;
                border-radius: 3px;
                font-weight: 700;
                text-transform: uppercase;

            }
        }
    }
}

#footer{
    margin-top: 1em;
    div{
        content: "";
        height: 50px;
        background-color: #333333;
    }
}

.janela_modal{
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #00000000;
    backdrop-filter: blur(10px);

    & .modal{
        content: '';
        width: 40%;
        min-width: 90vw;
        min-height: 100px;
        background-size: contain;
        margin: 0 auto;

        & img{
            position: relative;
            top: 0.5em;
            width: 100%;
            min-height: 600px;
            max-height: 900px;
            z-index: 1;
        }
    }
}

.fechar{
    z-index: 999;
    position: absolute;
    top: 4px;
    right: 4%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: red;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.janela_modal.abrir{
    display: block;
}

@media screen and (min-width:1024px){
    #about{

        & .container{
           
            & .about_decoration{
                text-align: center;
                & img{
                    width: 400px;
                    height: 400px;
                }
            }
        }
    }
}
@media screen and (min-width:1440px){
    
    .btn_top{
        background: rgba(0, 0, 0, 0.4);
        color: #fff;
        position: fixed;
        top: 96%;
        left: 98%;
        text-align: center;
        font-size: 30px;
        padding: 5px;
        border: none;
        cursor: pointer;
    }
    
    #header{
        display: flex;
        justify-content: center;
        background: url(images/pexels-mccutcheon-1407346.jpg) no-repeat;
        background-size:cover;
        
        
        & #navigation{
            display: flex;
            flex-direction: row;
            position: fixed;
            z-index: 1;
            width: 60%;
            max-width: 100%;
            height: 70px;
            background: linear-gradient(to right,#B4C3EC,#909EC8);


                & .nav_image_logo{
                    
                }
    
                & .nav_items{
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: 2em;
                    background-color: transparent;
                    height: inherit;
    
                    & li{
    
                        & a{
                            transition:0.5s ease-in-out;
    
                            &:hover{
                                color: #ffffff96;
                                transition: 0.5s ease-in-out;;
                            }
                        }
                    }
    
                    & .link_decoration{
                        width: 40%;
                        height: 70px;
                        text-align: center;
                        background-color: #FB579D;
                        cursor:pointer;
    
                        & a{
                            position: relative;
                            top: 37%;
    
                            &:hover{
                                color: #FFFFFF;
                                
                                &::after{
                                    content: '>';
                                    font-size: 14px;
                                    position: relative;
                                    left: 3px;
                                    bottom: 1px;
                                }
                            }
                        }
                    }
                }
        }
    }
    
    #about{
        display: flex;
        justify-content: center;

        & .container{
            margin: 8em 0px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 0;
            width: 60%;
            background-color: transparent;
    
            & .about_decoration{
                position: relative;
                bottom: 8em;
                width: 25%;
                height: 550px;
                background-color: #909EC8;
    
                & img{
                    width: 350px;
                    height: 330px;
                    position: relative;
                    top: 50%;
                    left: 26%;
                }
            }
    
            & .about_content{
                width: 75%;
                height: 600px;
                background-color: #EFECE4;

                & h2{
                    margin-top: 1em;
                    margin-left: 1em;
                    color: #333333;
                    font-weight: 500;
                    font-size:70px;
                }
    
                & p{
                    width: 40%;
                    line-height: 32px;
                    font-size: 1.1em;
                    text-align: left;
                    color:  #666666;
                }
    
            }
        }
    } 

    #menu{
        display: flex;
        justify-content: center;

        & .container{

            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 70%;
            text-align: center;
            margin-bottom: 3em;
    
            & h2{
                color: #333333;
                font-weight: 500;
                font-size:70px;
            }
    
            & #form{
    
                & .field{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
    
                    & input, textarea{
                       width: 30vw;
                    }
                }
    
                & button{
                    width: 10vw;
                }
            }
        }
    }

    
    
    .janela_modal{
        display: none;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        background-color: #00000000;
        backdrop-filter: blur(10px);
    
        & .modal{
            content: '';
            width: 40%;
            min-width: 450px;
            min-height: 200px;
            background-size: contain;
            margin: 0 auto;
    
            & img{
                position: relative;
                top: 0.5em;
                width: 100%;
                height: 900px;
                z-index: 1;
            }
        }
    }
    
    & .fechar{
        z-index: 2;
        position: absolute;
        top: 6px;
        right: 29.7%;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: none;
        background-color: red;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    
    .janela_modal.abrir{
        display: block;
    }
}